{% extends 'core/base.html' %}
{% block content %}
{% if patch %}
    <form>
        <input type="hidden" name="_method" value="PATCH">
{% else %}
    <form method="post" action="." enctype="multipart/form-data">
{% endif %}
    {% csrf_token %}
    <div class="mb-6">
        <label class="inline-block mb-2">Name: </label>
        {{ item_form.name }}
        {{ item_form.name.errors }}
    </div>
    <div class="mb-6">
        <label class="inline-block mb-2">Category: </label>
        {{ item_form.category }}
        {{ item_form.category.errors }}
    </div>
    <div class="mb-6">
        <label class="inline-block mb-2">Description: </label>
        {{ item_form.description }}
        {{ item_form.description.errors }}
    </div>
    <div class="mb-6">
        <label class="inline-block mb-2">Price: </label>
        {{ item_form.price }}
        {{ item_form.price.errors }}
    </div>
    {% if not patch %}
        <div class="mb-6">
            <label class="inline-block mb-2">Image </label>
            {{ item_form.image }}
            {{ item_form.image.errors }}
        </div>
    {% endif %}
    {% if form.errors or form.non_field_errors %}
        <div class="mb-6">
            <p class="text-red-500">Please correct the errors below.</p>
            {{ form.errors }}
            {{ form.non_field_errors }}
        </div>
    {% endif %}
    {% if patch %}
    <button
        type="submit"
        class="bg-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded"
    >
        Update Item
    </button>
    {% else %}
    <button
        type="submit"
        class="bg-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded"
    >
        Create Item
    </button>
    {% endif %}
</form>
{% endblock %}